- unless @cell.is_castle or @cell.is_road
  %hr
  .build-container
    .build-icon.icon-x
    .build-content
      .build-content-line.font-sm
        Destruir Edifício
      .build-content-line.font-sm
        %span.recourse-up-icon.icon-timer
        %span.recourse-up-label.label-timer= (60*@cell.building_level).to_s
      .build-content-line
        = link_to 'Destruir', building_destroy_path(@cell.x, @cell.y), class: 'btn-build btn-sm'