#game-content-left

  #cell-layer-1.cell_layer
    - @cells.each do |cell|
      .sprite{class: Terrain.get_terrain(cell.terrain_code)[:css_class]}

  #cell-layer-2.cell_layer
    - @cells.each do |cell|
      - building = Building.get_building(cell.building_code)
      - if building != nil
        .sprite{class: "#{building[:css_class]}-#{cell.building_level}"}
      - else
        .sprite

  #cell-layer-1.cell_layer
    - @cells.each do |cell|
      - if cell.user.nil?
        .link-sprite{obj_id: cell.id}
      - else
        .link-sprite{obj_id: cell.id, style: "border-color: #{cell.user.color}"}

#game-content-right
  .content-title Navegar Pelo Mapa
  = render 'world/world_navigation'

  .content-selected-sprite{style: 'display:none;'}
