#game-content-left

  = Cell.render_layers @cells

#game-content-right
  .content-title Navegar Pelo Mapa
  = render 'world/world_navigation'

  .content-selected-sprite{style: 'display:none;'}
  .content-selected-villager{style: 'display:none;'}
