#game-content-left
  .content-title Navegar Pelo Mapa
  = render 'world/world_navigation'

  .content-selected-sprite{style: 'display:none;'}
  .content-selected-villager{style: 'display:none;'}


#game-content-right
  = Cell.render_layers @cells, @current_user

