#game-content-left
  .content-title Mercado
  = render 'menu'

#game-content-right
  %h4 Recursos Chegando
  %table.table{border: 1}
    %thead
      %tr
        %th Jogador
        %th Tempo de Chegada
        %th Recurso
    %tbody
      - @offers.each do |offer|
        - if offer.user_id == @current_user.id
          %tr
            %td.text-center= offer.return_user.login
            %td.text-center
              .chronometer{data_time: offer.wait_time}
            %td
        - else
          %tr
            %td.text-center= offer.user.login
            %td.text-center
              .chronometer{data_time: offer.wait_time}
            %td

