#game-content-left
  .content-title Mercado
  = render 'menu'

#game-content-right
  %h4 Recursos Chegando
  %table.table{border: 1}
    %thead
      %tr
        %th Jogador
        %th Tempo de Chegada
        %th Recurso
    %tbody
      - @moves.each do |move|
        %tr
          %td.text-center= move.market_offer.user.login
          %td.text-center
            .chronometer{data_time: move.event.wait_time}
          %td

