#game-content-left
  = render 'menu'
#game-content-right.text-center.simplebar



  = render 'bs_table', {item: BLACKSMITH[:pick], level: @user_data.blacksmith_pick}
  = render 'bs_table', {item: BLACKSMITH[:axe], level: @user_data.blacksmith_axe}
  = render 'bs_table', {item: BLACKSMITH[:hoe], level: @user_data.blacksmith_hoe}
