#game-content-left
  = render 'menu'
#game-content-right.text-center

  %h2.text-center Enchada
  %table.upgrade-tools-component
    %tr
      - 10.times do
        %td
  = link_to 'Melhorar', '/teste', class: 'btn-lg'
  %h2.text-center Picareta
  %table.upgrade-tools-component
    %tr
      - 10.times do
        %td
  = link_to 'Melhorar', '/teste', class: 'btn-lg'
  %h2.text-center Machado
  %table.upgrade-tools-component
    %tr
      - 10.times do
        %td
  = link_to 'Melhorar', '/teste', class: 'btn-lg'
