.content-title Ranking

.side-menu
  .side-menu-item{class: ('side-menu-item-selected' if controller_name == 'ranking' and action_name == 'general')}
    = link_to 'Pontos', '/ranking'
  .side-menu-item{class: ('side-menu-item-selected' if controller_name == 'ranking' and action_name == 'territories')}
    = link_to 'Territórios', '/ranking/territories'
