
.content-title Relatórios

.side-menu
  .side-menu-item{class: ('side-menu-item-selected' if controller_name == 'report' and action_name == 'home')}
    = link_to 'Todos', '/reports'
  .side-menu-item{class: ('side-menu-item-selected' if controller_name == 'report' and action_name == 'market')}
    = link_to 'Mercado', '/reports/market'