
#game-content-left
  = render 'menu'
#game-content-right
  %table.table.table-hover
    %thead
      %tr
        %th Descrição
        %th Data
    %tbody
      - @reports.each do |r|
        %tr{onclick: "Turbolinks.visit('/report_detail/#{r.id}')", style: ('color: orange' unless r.read.trust)}
          %td= r.title
          %td= r.created_at.strftime("%d/%m %I:%M:%S")
