
.upgrade-tools-component{
  border-collapse: collapse;
  margin: 0px auto;
}

.upgrade-tools-component tr td{
  border:solid 1px black;
  width: 30px;
  height: 30px;
}

.upgrade-tools-off {
  background: #a9a9a9;
}

.upgrade-tools-on{
  background: #3cbc24;
}