@import 'colors';

.btn-lg {
  background: $blue-1;
  color: $white;
  padding: 10px 20px;
  margin: 5px;
  display: inline-block;
  border-radius: 2px;
  text-decoration:none;
  text-transform: uppercase;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.btn-lg:hover {
  background: #005295;
}

.btn-lg:active {
  opacity: 0.6;
}

.btn-sm {
  background: $blue-1;
  color: $white;
  padding: 2px 2px 0px 2px;
  display: inline-block;
  border-radius: 2px;
  text-decoration:none;
  text-transform: uppercase;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.btn-sm:hover {
  background: #005295;
}

.btn-sm:active {
  opacity: 0.6;
}
