.btn-lg {
  background: #4d6df8;
  color: white;
  padding:5px;
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
  text-decoration:none;
  border: solid 1px #000000;
}

.btn-lg:hover {
  background: #2f96ff;
}