.cursor-vil-1 {
  cursor: asset-url('sprites/world/villagers/vil_1.png'), pointer;
}
.cursor-vil-2 {
  cursor: asset-url('sprites/world/villagers/vil_2.png'), pointer;
}
.cursor-vil-3 {
  cursor: asset-url('sprites/world/villagers/vil_3.png'), pointer;
}

.icon-axe {
  cursor: asset-url('sprites/icons/axe.png'), pointer;
}

.icon-hoe {
  cursor: asset-url('sprites/icons/hoe.png'), pointer;
}

.icon-pick {
  cursor: asset-url('sprites/icons/pick.png'), pointer;
}