.custom-radio-label {
  border-radius: 100%;
  border: solid 1px #1a1a1a;
  background-color: #646464;
  text-align: center;
  padding: 3px 6px;
  display: inline-block;
}

.custom-radio-label:hover {
  cursor: pointer;
}

.custom-radio-checked {
  background: red;
}