@import 'colors';

body {
  margin: 0px auto;
  background: #000000;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  color: white;
}

a {
  color: $blue-1;
}

.hover-pointer:hover {
  cursor: pointer;
}

.flip-Y {
  transform: scaleY(-1);
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

#game-container {
  background: $dark-1;
  width: 800px;
  height: 572px;
  margin: 0px auto;
  position: relative;
}

#game-header {
  height: 30px;
  background: $dark-1;
}

.navbar-item {
  height: 30px;
  float: left;
}

#game-content {
  height: 512px;
}

#game-content-left {
  float: left;
  width: 287px;
  height: 475px;
  border-right:1px solid #ccc;
  overflow: hidden;
  top: 35px;
  animation-duration: 0.3s;
}

#game-content-right {
  float: left;
  width: 512px;
  height: 100%;
  overflow: auto;
  animation-duration: 0.3s;
}

#world_zoom_container{
  float: left;
  width: 512px;
  height: 100%;
  overflow: hidden;
}

#game-footer {
  height: 30px;
  background: $dark-2;
}

.flash-notice, .flash-alert {
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  left: 5px;
  top: 5px;
}

.content-title {
  background: $blue-2;
  padding: 5px;
  text-align: center;
  border: double 3px black;
  border-left: none;
  width: 245px;
  margin: 7px 0px;
}


.build-container {
  position: relative;
  height: 46px;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.build-icon {
  width: 44px;
  height: 44px;
  background-size: 100% 100%;
  float:left;
  border-radius: 100%;
  background-color: #b5e61d;
  border: solid 1px #ccc;
}

.build-content {
  float: right;
  width: 200px;
}

.build-content-line {
  float: left;
  width: 100%;
  text-align: center;
}

.build-title, .build-recourses {
  float: right;
  height: 18px;
  width: 195px;
  font-size: 12px;
}


.content-selected-sprite, .content-selected-unit {
  animation-duration: 0.3s;
}