body {
  margin: 0px auto;
  background: #000000;
  font-family: sans-serif;
}

#game-container {
  background: #403f3e;
  width: 752px;
  height: 572px;
  margin: 0px auto;
  padding: 5px;
}

#game-header {
  height: 30px;
  background: #403f3e;
  color: white
}

.navbar-item {
  height: 30px;
  float: left;
}

#game-content {
  height: 512px;
  color: white
}

#game-content-left {
  float: left;
  width: 240px;
  padding-top: 25px;
  height: 487px;
}

#game-content-right {
  float: left;
  width: 512px;
  height: 100%;
}

#game-footer {
  height: 30px;
  background: #666666;
}

.flash-notice, .flash-alert {
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  left: 5px;
  top: 5px;
}

.flash-notice {
  background: lightgreen;
  border: darkgreen 2px solid;
}

.flash-alert {
  background: indianred;
  border: darkred 2px solid;
}

.content-title {
  background: saddlebrown;
  color: white;
  padding: 5px;
  text-align: center;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}


.build-container {
  position: relative;
  width: 230px;
  height: 36px;
  margin: 5px 5px 10px 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.build-container a {
  background: #4d6df8;
  font-size: 12px;
  color: white;
  border-radius: 2px;
  text-decoration: none;
  padding: 1px 2px 1px 2px;
}

.build-icon {
  width: 28px;
  height: 28px;
  background-size: 100% 100%;
  z-index: 1;
  float:left;
  padding: 0px;
  border-radius: 100%;
  border: solid 1px #ccc;
}

.build-title, .build-recourses {
  float: right;
  height: 18px;
  width: 195px;
}
