body {
  margin: 0px auto;
  background: #000000;
  font-family: sans-serif;
}

#game-container {
  background:black;
  width: 752px;
  height: 572px;
  margin: 0px auto;
}

#game-header {
  height: 30px;
  background: #663415;
}

#game-content {
  height: 512px;
  background: #d6bc8c;
}

#game-content-left {
  float: left;
  width: 512px;
  height: 100%;
  background: red;
}

#game-content-right {
  float: left;
  width: 240px;
  height: 100%;
}

#game-footer {
  height: 30px;
  background: #666666;
}

.flash-notice, .flash-alert {
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  left: 5px;
  top: 5px;
}

.flash-notice {
  background: lightgreen;
  border: darkgreen 2px solid;
}

.flash-alert {
  background: indianred;
  border: darkred 2px solid;
}

.content-title {
  background: saddlebrown;
  color: white;
  padding: 5px;
  text-align: center;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}