.icon-no-repeat {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.icon-my-castle {
  background-image: asset-url("sprites/icons/my_castle.png");
}

.recourse-up-icon {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 12px;
  height: 12px;
  float: left;
  margin-left:4px;
}

.recourse-up-label {
  float: left;
  margin-left: 2px;
}

.icon-wood {
  background-image: asset-url("sprites/icons/wood.png");
}

.icon-food {
  background-image: asset-url("sprites/icons/food.png");
}

.icon-stone {
  background-image: asset-url("sprites/icons/stone.png");
}

.icon-gold {
  background-image: asset-url("sprites/icons/gold.png");
}

.icon-timer {
  background-image: asset-url("sprites/icons/timer.png");
}

.icon-x {
  background-image: asset-url("sprites/icons/icon-x.png");
}

.icon-vil-1 {
  background-image: asset-url('sprites/world/villagers/vil_1.png');
}

.icon-toggle-btn {
  background-image: asset-url("sprites/icons/toggle_btn.png");
}