@import 'colors';

.navbar-links-item {
  float: left;
  background: center center no-repeat;
  width: 48px;
  height: 48px;
  padding-bottom: 10px;
  background-color: $dark-1;
  border-bottom: 3px solid $dark-2;
}

.navbar-links-item a { /*menu superior esquerdo*/
  display: block;
  height: 100%;
  width: 100%;
}

.navbar-links-item-active { /*menu superior fundo ao clicar*/
  border-bottom: 3px solid #0083ee;
  background-color: #656565;
}

.navbar-links-item:hover {
  background-color: #868686;
  border-bottom: 3px solid #ccc;
}

.navbar-links-item:active {
  opacity:0.6;
}

.world-button {
  background-image: asset-url("sprites/icons/world.png");
}
.my-castle-button {
  background-image: asset-url("sprites/icons/my_castle.png");
}
.trophy-button {
  background-image: asset-url("sprites/icons/trophy.png");
}
.reports-button {
  background-image: asset-url("sprites/icons/reports.png");
}
.message-button {
  background-image: asset-url("sprites/icons/messages.png");
}

.navbar-links { /*entre-menu*/
  height: 28px;
  width: 280px;
  position: absolute;
}

/* NAVBAR RECOURSE */

.recourse-container { /*barra de recursos*/
  width: 70px;
  font-size: 10px;
}

.recourse-icon { /*icone dos recursos*/
  float: left;
  height: 20px;
  width: 20px;
}

.recourse-icon img { /*imagem dos icones de recursos*/
  float: left;
  margin: 3px;
}

.recourse-label { /*contador de recursos com a barra incluida*/
  width: 45px;
  float: right;
  height: 14px;
  padding-top: 4px;
  text-align: center;
}

.recourse-progress-bar { /*barra de progresso*/
  width: 45px;
  height: 3px;
  background: red;
  float: right;
}

.recourse-progress-bar-completed { /*barra de progresso*/
  height: 3px;
  background: green;
  float: left;
}


.user-data-toggle-component-btn { /*botão de produção/hr, o botão azul*/
  width: 24px;
  height:24px;
  margin-left:5px;
}

.user-data-toggle-component-btn:hover { /*hover do botão*/
  cursor: pointer;
  width: 26px;
  height: 26px;
}

.user-data-toggle-component{ /*recursos /hr janela*/
  position: absolute;
  background-color: #454545;
  left:240px;
  top:0px;
  width:334px;
  height:270px;
  z-index: 4;
  padding: 5px;
  display: none;
  border-bottom: 3px groove white;
  border-left: 3px groove white;
  border-right: 3px groove white;
}