
.world-button {
  width: 48px;
  background-image: url('sprites/icons/world.png');
  background-repeat: no-repeat;
  height: 48px;
  background-size: 100% 100%;
}
.my-castle-button {
  width: 48px;
  background-image: url('sprites/icons/my_castle.png');
  background-repeat: no-repeat;
  height: 48px;
  background-size: 100% 100%;
  z-index: 50;
}

.navbar-links {
  height: 28px;
  width: 220px;
  padding-left: 20px;
}

/* NAVBAR RECOURSE */

.recourse-container {
  width: 80px;
  font-size: 12px;
}

.recourse-icon {
  float: left;
  height: 30px;
  width: 30px;
}

.recourse-icon img {
  float: left;
  margin: 3px;
}

.recourse-label {
  width: 50px;
  float: right;
  height: 14px;
  padding-top: 4px;
  text-align: center;
}

.recourse-progress-bar {
  width: 50px;
  height: 4px;
  background: red;
  float: right;
}

.recourse-progress-bar-completed {
  height: 4px;
  background: green;
  float: left;
}