
.sprite, .link-sprite {
  width: 64px;
  height: 64px;
  float:left;
  padding: 0px;
  margin: 0px;
}

.sprite {
  background-color:blue;
  background-size: 100% 100%;

  z-index: 1;
}

.sprite-selected {
  z-index: 2;
  position: relative;
  outline: 2px dotted red;
}

.sprite-grass {
  background-image: url(image_path('sprites/world/terrain/grass.png'));
}

.sprite-water {
  background-image: url(image_path('sprites/world/terrain/water.png'));
}

.sprite-tree {
  background-image: url(image_path('sprites/world/terrain/tree.png'));
}

.sprite-iron {
  background-image: url(image_path('sprites/world/terrain/iron.png'));
}

.sprite-gold {
  background-image: url(image_path('sprites/world/terrain/gold.png'));
}

.sprite-diamond {
  background-image: url(image_path('sprites/world/terrain/diamond.png'));
}