
.sprite, .link-sprite {
  float:left;
  padding: 0px;
  margin: 0px;
}

.sprite {
  width: 64px;
  height: 64px;
  background-size: 100% 100%;
  z-index: 0;
}

.sprite-can-build {
  background:black;
  opacity: 0.25;
  border-radius: 100%;
  margin: 2px;
  width: 60px;
  height: 60px;
}

.link-sprite {
  width: 60px;
  height: 60px;
  border: solid 2px transparent;
}

.sprite-selected {
  z-index: 2;
  position: relative;
  outline: 2px dotted red;
}

.sprite-timer {
  background: white;
  border-radius: 4px;
  border: solid 1px black;
  float: left;
  padding: 1px;
  margin: 2px;
  font-size: 10px;
  opacity: 0.5;
  color:black
}

.sprite-searching {
  background-image: asset-url('sprites/world/sprite-searching.png');
}

.sprite-timer:hover {
  opacity: 1;
  cursor: default;
  font-size: 12px;
}

.sprite-unit-space {
  z-index: 3;
  width: 20px;
  height: 20px;
  float: left;
  background:black;
  opacity: 0.25;
  border-radius:100%;
}

/* UNITS  */
.sprite-unit {
  z-index: 3;
  width: 20px;
  height: 20px;
  float: left;
}

.sprite-unit-hurt {
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: 0.5;
}

.sprite-unit:hover {
  cursor: default;
}
.unit-selected {
  z-index: 2;
  position: relative;
  outline: 2px dotted red;
}

.sprite-villager { background-image: asset-url('sprites/world/unit/villager/villager.png'); }
.sprite-lancer { background-image: asset-url('sprites/world/unit/lancer/lancer.png'); }
.sprite-swordsman { background-image: asset-url('sprites/world/unit/swordsman/swordsman.png'); }
.sprite-archer { background-image: asset-url('sprites/world/unit/archer/archer.png'); }


/* TERRAINS */
.sprite-grass   { background-image: asset-url('sprites/world/terrain/grass.png'); }
.sprite-water   { background-image: asset-url('sprites/world/terrain/water.png'); }
.sprite-tree    { background-image: asset-url('sprites/world/terrain/tree.png'); }
.sprite-tree2   { background-image: asset-url('sprites/world/terrain/tree2.png'); }
.sprite-tree3   { background-image: asset-url('sprites/world/terrain/tree3.png'); }
.sprite-stone   { background-image: asset-url('sprites/world/terrain/stone.png'); }
.sprite-gold    { background-image: asset-url('sprites/world/terrain/gold.png'); }
.sprite-diamond { background-image: asset-url('sprites/world/terrain/diamond.png'); }


/* HOUSE */
.sprite-house-0 { background-image: asset-url('sprites/world/building/house/house_0.png'); }
.sprite-house-1 { background-image: asset-url('sprites/world/building/house/house_1.png'); }
.sprite-house-2 { background-image: asset-url('sprites/world/building/house/house_2.png'); }
.sprite-house-3 { background-image: asset-url('sprites/world/building/house/house_3.png'); }
.sprite-house-4 { background-image: asset-url('sprites/world/building/house/house_3.png'); }

/* ROAD */
.sprite-road-0         { background-image: asset-url('sprites/world/building/road/road_0.png'); }
.sprite-road-1         { background-image: asset-url('sprites/world/building/road/road_1.png'); }
.sprite-road-bt-1      { background-image: asset-url('sprites/world/building/road/road_bt_1.png'); }
.sprite-road-bt-90-1   { background-image: asset-url('sprites/world/building/road/road_bt_1.png'); transform: rotate(90deg);}
.sprite-road-bt-180-1  { background-image: asset-url('sprites/world/building/road/road_bt_1.png'); transform: rotate(180deg);}
.sprite-road-bt-270-1  { background-image: asset-url('sprites/world/building/road/road_bt_1.png'); transform: rotate(270deg);}
.sprite-road-br-1      { background-image: asset-url('sprites/world/building/road/road_br_1.png'); }
.sprite-road-br-90-1   { background-image: asset-url('sprites/world/building/road/road_br_1.png'); transform: rotate(90deg);}
.sprite-road-br-180-1  { background-image: asset-url('sprites/world/building/road/road_br_1.png'); transform: rotate(180deg);}
.sprite-road-br-270-1  { background-image: asset-url('sprites/world/building/road/road_br_1.png'); transform: rotate(270deg);}
.sprite-road-btr-1     { background-image: asset-url('sprites/world/building/road/road_btr_1.png'); }
.sprite-road-btr-90-1  { background-image: asset-url('sprites/world/building/road/road_btr_1.png'); transform: rotate(90deg);}
.sprite-road-btr-180-1 { background-image: asset-url('sprites/world/building/road/road_btr_1.png'); transform: rotate(180deg);}
.sprite-road-btr-270-1 { background-image: asset-url('sprites/world/building/road/road_btr_1.png'); transform: rotate(270deg);}
.sprite-road-all-1     { background-image: asset-url('sprites/world/building/road/road_all_1.png');   }

/* BRIDGE */
.sprite-bridge-0         { background-image: asset-url('sprites/world/building/bridge/bridge_0.png'); }
.sprite-bridge-1         { background-image: asset-url('sprites/world/building/bridge/bridge_bt_1.png'); }
.sprite-bridge-bt-90-1   { background-image: asset-url('sprites/world/building/bridge/bridge_bt_1.png'); transform: rotate(90deg);}
.sprite-bridge-bt-180-1  { background-image: asset-url('sprites/world/building/bridge/bridge_bt_1.png'); transform: rotate(180deg);}
.sprite-bridge-bt-270-1  { background-image: asset-url('sprites/world/building/bridge/bridge_bt_1.png'); transform: rotate(270deg);}
.sprite-bridge-br-1      { background-image: asset-url('sprites/world/building/bridge/bridge_br_1.png'); }
.sprite-bridge-br-90-1   { background-image: asset-url('sprites/world/building/bridge/bridge_br_1.png'); transform: rotate(90deg);}
.sprite-bridge-br-180-1  { background-image: asset-url('sprites/world/building/bridge/bridge_br_1.png'); transform: rotate(180deg);}
.sprite-bridge-br-270-1  { background-image: asset-url('sprites/world/building/bridge/bridge_br_1.png'); transform: rotate(270deg);}
.sprite-bridge-btr-1     { background-image: asset-url('sprites/world/building/bridge/bridge_btr_1.png'); }
.sprite-bridge-btr-90-1  { background-image: asset-url('sprites/world/building/bridge/bridge_btr_1.png'); transform: rotate(90deg);}
.sprite-bridge-btr-180-1 { background-image: asset-url('sprites/world/building/bridge/bridge_btr_1.png'); transform: rotate(180deg);}
.sprite-bridge-btr-270-1 { background-image: asset-url('sprites/world/building/bridge/bridge_btr_1.png'); transform: rotate(270deg);}
.sprite-bridge-all-1     { background-image: asset-url('sprites/world/building/bridge/bridge_all_1.png');   }

/* WALL */
.sprite-wall-0         { background-image: asset-url('sprites/world/building/wall/wall_0.png'); }
.sprite-wall-1         { background-image: asset-url('sprites/world/building/wall/wall_bt_1.png'); }
.sprite-wall-bt-90-1   { background-image: asset-url('sprites/world/building/wall/wall_bt_1.png'); transform: rotate(90deg);}
.sprite-wall-bt-180-1  { background-image: asset-url('sprites/world/building/wall/wall_bt_1.png'); transform: rotate(180deg);}
.sprite-wall-bt-270-1  { background-image: asset-url('sprites/world/building/wall/wall_bt_1.png'); transform: rotate(270deg);}
.sprite-wall-br-1      { background-image: asset-url('sprites/world/building/wall/wall_br_1.png'); }
.sprite-wall-br-90-1   { background-image: asset-url('sprites/world/building/wall/wall_br_1.png'); transform: rotate(90deg);}
.sprite-wall-br-180-1  { background-image: asset-url('sprites/world/building/wall/wall_br_1.png'); transform: rotate(180deg);}
.sprite-wall-br-270-1  { background-image: asset-url('sprites/world/building/wall/wall_br_1.png'); transform: rotate(270deg);}
.sprite-wall-btr-1     { background-image: asset-url('sprites/world/building/wall/wall_btr_1.png'); }
.sprite-wall-btr-90-1  { background-image: asset-url('sprites/world/building/wall/wall_btr_1.png'); transform: rotate(90deg);}
.sprite-wall-btr-180-1 { background-image: asset-url('sprites/world/building/wall/wall_btr_1.png'); transform: rotate(180deg);}
.sprite-wall-btr-270-1 { background-image: asset-url('sprites/world/building/wall/wall_btr_1.png'); transform: rotate(270deg);}
.sprite-wall-all-1     { background-image: asset-url('sprites/world/building/wall/wall_all_1.png');   }

/* STORAGE */
.sprite-storage-0 { background-image: asset-url('sprites/world/building/storage/storage_0.png'); }
.sprite-storage-1 { background-image: asset-url('sprites/world/building/storage/storage_1.png'); }
.sprite-storage-2 { background-image: asset-url('sprites/world/building/storage/storage_2.png'); }
.sprite-storage-3 { background-image: asset-url('sprites/world/building/storage/storage_2.png'); }
.sprite-storage-4 { background-image: asset-url('sprites/world/building/storage/storage_2.png'); }
.sprite-storage-5 { background-image: asset-url('sprites/world/building/storage/storage_2.png'); }

/* PORT */
.sprite-port-0 { background-image: asset-url('sprites/world/building/port/port_0.png'); }
.sprite-port-1 { background-image: asset-url('sprites/world/building/port/port_1.png'); }

/* CASTLE */
.sprite-castle-1  { background-image: asset-url('sprites/world/building/castle/castle_1.png'); }
.sprite-castle-2  { background-image: asset-url('sprites/world/building/castle/castle_2.png'); }
.sprite-castle-3  { background-image: asset-url('sprites/world/building/castle/castle_3.png'); }
.sprite-castle-4  { background-image: asset-url('sprites/world/building/castle/castle_3.png'); }
.sprite-castle-5  { background-image: asset-url('sprites/world/building/castle/castle_3.png'); }
.sprite-castle-6  { background-image: asset-url('sprites/world/building/castle/castle_3.png'); }
.sprite-castle-7  { background-image: asset-url('sprites/world/building/castle/castle_3.png'); }
.sprite-castle-8  { background-image: asset-url('sprites/world/building/castle/castle_3.png'); }
.sprite-castle-9  { background-image: asset-url('sprites/world/building/castle/castle_3.png'); }
.sprite-castle-10 { background-image: asset-url('sprites/world/building/castle/castle_3.png'); }
.sprite-castle-11 { background-image: asset-url('sprites/world/building/castle/castle_3.png'); }
.sprite-castle-12 { background-image: asset-url('sprites/world/building/castle/castle_3.png'); }
.sprite-castle-13 { background-image: asset-url('sprites/world/building/castle/castle_3.png'); }
.sprite-castle-14 { background-image: asset-url('sprites/world/building/castle/castle_3.png'); }
.sprite-castle-15 { background-image: asset-url('sprites/world/building/castle/castle_3.png'); }

/* STONE MINE */
.sprite-stone-mine-0 { background-image: asset-url('sprites/world/building/stone_mine/stone_mine_0.png'); }
.sprite-stone-mine-1 { background-image: asset-url('sprites/world/building/stone_mine/stone_mine_1.png'); }
.sprite-stone-mine-2 { background-image: asset-url('sprites/world/building/stone_mine/stone_mine_1.png'); }
.sprite-stone-mine-3 { background-image: asset-url('sprites/world/building/stone_mine/stone_mine_1.png'); }

/* GOLD MINE */
.sprite-gold-mine-0 { background-image: asset-url('sprites/world/building/gold_mine/gold_mine_0.png'); }
.sprite-gold-mine-1 { background-image: asset-url('sprites/world/building/gold_mine/gold_mine_1.png'); }
.sprite-gold-mine-2 { background-image: asset-url('sprites/world/building/gold_mine/gold_mine_1.png'); }
.sprite-gold-mine-3 { background-image: asset-url('sprites/world/building/gold_mine/gold_mine_1.png'); }

/* LUMBERJACK */
.sprite-lumberjack-0 { background-image: asset-url('sprites/world/building/lumberjack/lumberjack_0.png'); }
.sprite-lumberjack-1 { background-image: asset-url('sprites/world/building/lumberjack/lumberjack_1.png'); }
.sprite-lumberjack-2 { background-image: asset-url('sprites/world/building/lumberjack/lumberjack_1.png'); }
.sprite-lumberjack-3 { background-image: asset-url('sprites/world/building/lumberjack/lumberjack_1.png'); }

/* FARM */
.sprite-farm-0 { background-image: asset-url('sprites/world/building/farm/farm_0.png'); }
.sprite-farm-1 { background-image: asset-url('sprites/world/building/farm/farm_1.png'); }
.sprite-farm-2 { background-image: asset-url('sprites/world/building/farm/farm_2.png'); }
.sprite-farm-3 { background-image: asset-url('sprites/world/building/farm/farm_2.png'); }

/* MARKET */
.sprite-market-0 { background-image: asset-url('sprites/world/building/market/market_0.png'); }
.sprite-market-1 { background-image: asset-url('sprites/world/building/market/market_1.png'); }

/* BLACKSMITH */
.sprite-blacksmith-0  { background-image: asset-url('sprites/world/building/blacksmith/blacksmith_0.png'); }
.sprite-blacksmith-1  { background-image: asset-url('sprites/world/building/blacksmith/blacksmith_1.png'); }
.sprite-blacksmith-2  { background-image: asset-url('sprites/world/building/blacksmith/blacksmith_1.png'); }
.sprite-blacksmith-3  { background-image: asset-url('sprites/world/building/blacksmith/blacksmith_1.png'); }
.sprite-blacksmith-4  { background-image: asset-url('sprites/world/building/blacksmith/blacksmith_1.png'); }
.sprite-blacksmith-5  { background-image: asset-url('sprites/world/building/blacksmith/blacksmith_1.png'); }
.sprite-blacksmith-6  { background-image: asset-url('sprites/world/building/blacksmith/blacksmith_1.png'); }
.sprite-blacksmith-7  { background-image: asset-url('sprites/world/building/blacksmith/blacksmith_1.png'); }
.sprite-blacksmith-8  { background-image: asset-url('sprites/world/building/blacksmith/blacksmith_1.png'); }
.sprite-blacksmith-9  { background-image: asset-url('sprites/world/building/blacksmith/blacksmith_1.png'); }
.sprite-blacksmith-10 { background-image: asset-url('sprites/world/building/blacksmith/blacksmith_1.png'); }

/* BARRACK */
.sprite-barrack-0 { background-image: asset-url('sprites/world/building/barrack/barrack_0.png'); }
.sprite-barrack-1 { background-image: asset-url('sprites/world/building/barrack/barrack_1.png'); }
.sprite-barrack-2 { background-image: asset-url('sprites/world/building/barrack/barrack_1.png'); }
.sprite-barrack-3 { background-image: asset-url('sprites/world/building/barrack/barrack_1.png'); }

/* HOSPITAL */
.sprite-hospital-0 { background-image: asset-url('sprites/world/building/hospital/hospital_1.png'); }
.sprite-hospital-1 { background-image: asset-url('sprites/world/building/hospital/hospital_1.png'); }

/* TOWER */
.sprite-tower-0 { background-image: asset-url('sprites/world/building/tower/tower_0.png'); }
.sprite-tower-1 { background-image: asset-url('sprites/world/building/tower/tower_1.png'); }
