
.ui-tooltip {
  background: black;
  border: 2px solid white;
  padding: 4px 8px;
  color: white;
  white-space: pre-line;
  border-radius: 3px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}