.world_navigation {
  width: 60px;
  height: 60px;
  margin: 0px auto;
  border: solid 1px black;
}

.world_navigation_item {
  float: left;
  width: 20px;
  height: 20px;
}

.world_navigation_item:hover {
  background: #ccc;
}